<!--
Static resources, including HTML and JavaScript and CSS,
can be served from your Spring Boot application by dropping them
into the right place in the source code. By default,
Spring Boot serves static content from resources in the classpath at /static (or /public).
The index.html resource is special because,
if it exists, it is used as a "`welcome page,"serving-web-content/ which means it is served up as the root resource
 (that is, at `http://localhost:8080/). As a result,
you need to create the following file (which you can find in src/main/resources/static/home.html):
-->


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Demo Spring MVC</h1>
<p th:text="'Hello, ' + ${name} + '!'" />
</body>
</html>